$right:right;
$left:left;
$gbcolor:white;
$direction:center;

body{
    background-color: rgb(64, 42, 42);
    color:$gbcolor;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    .header{
        margin:0 30px;
        .again{
            float:$left;
            background-color: $gbcolor;
            font-size: 20px;
        }
        h1{
            font-size: 33px;
            text-align: $direction;
            margin-top: 20vh;
        }
        .between{
            float:right ;
            margin-right: 35px;
            font-size: 20px;
        }
        #number{
            margin: auto;
            text-align: $direction;
            font-size: 50px;
            margin-top: 10vh;
            width: 10rem;
            border:0.5px $gbcolor;
            background-color: rgb(116, 90, 90);
        }
        hr{
            margin-top: -6vh;
        }
    }
    .secBody{
        margin: auto;
        
        width: 100%;
        .right{
            text-align: $direction;
            margin-left: -5%;
            font-size: 30px;
            margin-top: 13vh;
        }
        .left{
            text-align: $direction;
            margin-top: 20px;
            margin-left: 5%;
            .check{
                background-color: $gbcolor;
                margin:auto;
                margin-top: 10px;
                width:40%;
                font-size: 20px;
            }
            .guess{
                width:70%;
                font-size: 30px;
                text-align: $direction;
            }
           
        }
    }
}

 @media (max-width:768px) {
 .header{
    .number{
        margin-top: -30%;
    }
    h1{
        font-size: 50px;
        padding-top: 15%;
    }
 }
 .secBody{
    margin:50% 0;
    .right{
        font-size: 20;
     }
 }
}